.footer{
    background-color:darkblue;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size:10px;
    font-style: italic;
    margin-left:-77px;
    position: fixed;
    bottom: 0;
    width: 100%;
}