.jumbotron{
    background-color: darkblue!important;
    padding-bottom:5px!important;
    padding-top:10px!important;
    margin-top: 20px;
    color:white;
}

body{
    background-color:lightblue!important;
}